<% if signed_in? %>
    <h1>Hello, <%= current_user.name %> <%= link_to 'Sign out', sessions_destroy_path %></h1>
    <input type="text" class="message-input" placeholder="Say something">
    <button class="send-button">Send</button>
<% else %>
    <h1>Please login or create an account. It only takes a few seconds.</h1>
    <div class="dropdown">
      <button id="signin-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sign in
      </button>
      <div class="dropdown-menu" aria-labelledby="signin-menu">
        <%= form_for :session, url: sessions_create_path, method: :get do |user| %>
            <div>
              <%= user.label :name %>
              <%= user.text_field :name, type: 'login', placeholder: 'Login' %>
            </div>
            <div>
              <%= user.label :password %>
              <%= user.password_field :password, type: 'password', placeholder: 'Password' %>
            </div>
            <div>
              <%= user.submit 'Sign in' %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="dropdown">
      <button id="signup-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sign up
      </button>
      <div class="dropdown-menu" aria-labelledby="signup-menu">
        <%= form_for :user, url: users_path, method: :post do |user| %>
            <div>
              <%= user.label :name %>
              <%= user.text_field :name, type: 'login', placeholder: 'Login' %>
            </div>
            <div>
              <%= user.label :password %>
              <%= user.password_field :password, type: 'password', placeholder: 'Password' %>
            </div>
            <div>
              <%= user.label :password_confirmation %>
              <%= user.password_field :password_confirmation, type: 'password', placeholder: 'Confirm password' %>
            </div>
            <div>
              <%= user.submit 'Sign up' %>
            </div>
        <% end %>
      </div>
    </div>
<% end %>
<div class="root">
  <div class="messages-container">
    <%= render @messages %>
  </div>
</div>
